@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3ccircle fill='rgb(0 0 0 / 0.2)' id='pattern-circle' cx='10' cy='10' r='1.6257413380501518'%3e%3c/circle%3e%3c/svg%3e");
    background-repeat: repeat;
}

.typing-animation {
    width: 100%;
    overflow: hidden;
    animation: typing 2s steps(40, end) 1s 5 alternate;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}